<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list-header>
    Convesaciones recientes 
  </ion-list-header>
  <ion-list *ngFor="let place of places">
    <ion-item > 
      <ion-avatar slot="start">
        <img src="{{place.image}}">
      </ion-avatar>
      <ion-label>
        <h2>{{place.name}}</h2>
        <h3>{{place.about}}</h3>
        <p>{{place.message}}</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>